// usage classes
.txt-hide {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// root reset
body {
  min-width: 375px;
  min-height: 600px;
  background-color: var(--background-color);
}
#root {
  margin: 0 auto;
  max-width: 1000px;
}

// modules

.mo-card {
  background: #fff;
  padding: 32px;
  border-radius: var(--border-radius);
}

.mo-divider {
  height: 1px;
  border: 0;
  outline: 0;
  background: var(--border-color);
  margin: 20px 0;
  padding: 0;
}

.mo-title {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-text-color);
}

.mo-sub-title {
  font-size: 34px;
  font-weight: bold;
  color: var(--primary-text-color);
}

.mo-text {
  font-size: 28px;
  color: var(--second-text-color);
  line-height: 1.6;
}

.mo-btn {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  outline: 0;
  text-align: center;
  height: 64px;
  line-height: 64px;
  padding: 0 36px;
  font-size: 28px;
  font-weight: bold;
  border-radius: var(--border-radius);
  transition: all 0.2s linear;

  &:hover {
    background: var(--primary-color-hover);
  }

  &:active {
    background: var(--primary-color-active);
  }

  & + .mo-btn {
    margin-left: 20px;
  }

  &.round {
    border-radius: 99px;
  }

  &.small {
    height: 54px;
    line-height: 54px;
    padding: 0 24px;
    font-size: 24px;
    font-weight: normal;
  }

  &.large {
    height: 74px;
    line-height: 74px;
    padding: 0 48px;
    font-size: 32px;
    font-weight: bold;
  }
}

.mo-input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--border-color);
  outline: 0;
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  font-size: 28px;
  border-radius: var(--border-radius);
  transition: all 0.2s linear;
}

.mo-form {
  .form-item {
    .form-item-label {
      display: block;
      height: 64px;
      line-height: 64px;
      font-size: 26px;
      color: var(--second-text-color);
      &:after {
        content: ':';
      }
    }

    .form-item-content {
      display: block;
    }

    & + .form-item {
      margin-top: 20px;
    }
  }

  &.inline {
    display: inline-block;

    .form-item {
      margin: 0 20px 20px 0;
      display: inline-flex;
      align-items: center;

      .form-item-content {
        margin-left: 10px;
      }
    }
  }
}
